# Byte-compiled / optimized / DLL files
__pycache__/

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/

# mypy
.mypy_cache/

# pytest
.pytest_cache/

# Entwicklungsmaterial, nicht Teil der Integration
scripts/
tests/
documentation/
requirements-dev.txt
